<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="timeline-container">
      {{# each data.awards}}
      <div class="timeline-year">{{year}}</div>
      <section id="timeline">
        {{# each items}}
        <div class="timeline-block">
          <div class="timeline-pip timeline-pip-{{workType.key}}">
          </div>
          <div class="timeline-content {{workType.key}}">

            {{#if award.image.url}}
            <div class="timeline-image-block">
              <img src="{{{ award.image.url }}}">
            </div>
            {{/if}}
            {{# if work}}
            <h2>{{{work.title}}} - {{{award.name}}}</h2>
            {{else}}
            <h2>{{{title}}} - {{{award.name}}}</h2>
            {{/if}}
            <div class="timeline-copy-block">
            {{{description}}}
            <div class="timeline-button-wrapper">
            {{# if work}}
            <a href="{{workUrl work.slug workType.key}}" class="read-more">View work</a>
            {{/if}}
            {{#each links}}
              {{#if showLabel}}
                <a href="{{link}}" {{#if newWindow}}target="_blank"{{/if}} class="read-more">{{{label}}}</a>
              {{else}}
              <a href="{{link}}" {{#if newWindow}}target="_blank"{{/if}} class="read-more">{{{link}}}</a>
              {{/if}}
            {{/each}}
          </div>
        </div>
          </div>
        </div>
        {{/each}}
      </section>
      {{/each}}
    </div>
    </div>
  </div>
</div>
