<div class="swiper-container">
	<div class="swiper-wrapper">
		{{# each data.carousel }}
		<div class="swiper-slide swiper-slide-{{#if this.work}}{{this.work.workType.key}}{{/if}}">
			{{#if this.work}}
				<a href="{{workUrl this.work.slug this.work.workType.key}}">
					<span class="image-wrapper">
						{{#if this.image.url}}
						<img src="{{{cloudinaryUrl this.image width=1400 height=901 crop='lfill' }}}" />
						{{else if this.work.image}}
						<img src="{{{cloudinaryUrl this.work.image width=1400 height=901 crop='lfill' }}}" />
					{{/if}}
					</span>
					<span class="slide-title"><h2><span>
						{{#if this.title}}
							{{this.title}}
						{{else}}
							{{this.work.title}}
						{{/if}}
					</span></h2></span>
				</a>
				{{else if this.page}}
				<a href="{{workUrl this.page.slug this.work.pageType.key}}">
					{{#if this.page.image}}<span class="image-wrapper"><img src="{{{cloudinaryUrl this.page.image width=1400 height=900 crop='lfill' }}}" /></span>{{/if}}
					<span class="slide-title"><h2><span>{{this.page.title}}</span></h2></span>
				</a>
			{{/if}}
			</div>
			{{/each}}
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
		<div class="intro offset">
			<div class="container">
			<h1>{{{toTitle data.copy.content.brief}}}</h1>
			<p>{{{data.copy.content.extended}}}</p>
			<a class="btn-showreel watch-show-reel" href="#" data-src={{data.showreel}}><span>Watch our show reel</span></a>
		</div>
	</div>
		<div class="homepage-categories offset">
			<div class="container">
			<div class="row">
			{{# each data.categories }}
				<div class="col-sm-12 col-md-6 col-lg-3 homepage-categories-column">
					<a href="work/{{this.key}}" class=" homepage-category {{this.key}}">
				{{#if image}}<div class="homepage-category-image-wrapper"><img src="{{{cloudinaryUrl image width=400 height=214 crop='lfill' }}}" class="img"></div>{{/if}}
					<h5>{{this.name}}</h5>
					{{{this.description}}}
				</a>
			</div>
			{{/each}}
		</div>

		</div>
	</div>

		<div class="homepage-latest offset">
			<div class="container">
				<h4>Our Latest Work</h4>
				<div class="row justify-content-center">
					<div class="col-sm-12">
						<div class="grid-row work">
							{{# each data.work}}
							<div class="list-item all cats {{workType.key}} _{{broadCastYear}}">
								<a href="{{workUrl slug workType.key}}">
								{{#if thumbnail}}<img src="{{{cloudinaryUrl thumbnail width=350 height=196 crop='lfill' }}}" class="img pull-right">{{/if}}
								<div class="list-item-overlay">
									<div class="list-item-title">
										<h2>{{{title}}}</h2>
										{{{content.brief}}}
									</div>
								</div>
								</a>
							</div>
							{{/each}}
						</div>
					</div>
					<div class="col-sm-12 col-md-4 homepage-latest-more ">
						<a href="/work">See all of our work</a>
					</div>
				</div>

		</div>
	</div>
