	<div class="item-header">
		{{#if data.item.image}}<img src="{{{cloudinaryUrl data.item.image width=1600 height=900 crop='fit' }}}" class="img-responsive">{{/if}}
	</div>
<div class="container">

			<article>

				<div class="post">
					<div class="row">
					<div class="col-sm-12 col-lg-7">
						<header>
							<h1>{{data.item.title}}</h1>
							<h5>
								{{{categoryList data.post.categories prefix="Posted in "}}}
								{{#if author.name.first}}by {{author.name.first}}{{/if}}
							</h5>
						</header>
						{{{data.item.content.extended}}}
						{{#if data.item.content.press}}
						<div class="item-info-block">
							<h5>Press Links</h5>
							{{{data.item.content.press}}}
						</div>
						{{/if}}
					</div>
					<div class="col-sm-12 col-lg-4 offset-lg-1">
						{{#if data.item.content.quote}}
						<blockquote>
							{{{data.item.content.quote}}}
						</blockquote>
						{{/if}}
						{{#if data.item.content.broadcastDetails}}
						<div class="item-info-block">
							<h5>Broadcast Details</h5>
							{{{data.item.content.broadcastDetails}}}
						</div>
						{{/if}}
					</div>
					</div>
				</div>
			</article>
	</div>
