{{#unless data.item.useCompactLayout}}
<div class="item-header">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			{{#each data.item.carousel}}
			<div class="swiper-slide {{#if this.showVideoControl}}video-slide{{/if}}">
				<span class="image-wrapper">
					<span class="overlay"></span>
				{{#if this.showVideoControl}}
				<a class="btn-play-video" data-src="{{../data.item.video}}">
				</a>
				{{/if}}
				<img src="{{{cloudinaryUrl this width=1600 height=900 crop='lfill' }}}" class="img-responsive">
			</span>
			</div>
			{{/each}}
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</div>
{{/unless}}
<div class="container offset">

	<article>
		<div class="post">
			<div class="row">
				<div class="col-sm-12 col-lg-7">
					{{#if data.item.useCompactLayout}}
					<div class="item-header">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								{{#each data.item.carousel}}
								<div class="swiper-slide {{#if this.showVideoControl}}video-slide{{/if}}">
									<span class="image-wrapper">
										<span class="overlay"></span>
									{{#if this.showVideoControl}}
									<a class="btn-play-video" data-src="{{../data.item.video}}">
									</a>
									{{/if}}
									<img src="{{{cloudinaryUrl this width=1600 height=900 crop='lfill' }}}" class="img-responsive">
								</span>
								</div>
								{{/each}}
							</div>
							<div class="swiper-pagination"></div>
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
					{{/if}}
					<header>
						<h1>{{data.item.title}}</h1>
					</header>
					{{{data.item.content.extended}}}
					{{#if data.item.press}}
					<div class="item-info-block hidden-lg-down">
						<h5>Press Links</h5>
						{{#each data.item.press}}
						<div class="item-info-block_item">
							{{#if showLabel}}<strong class="item-info-block_title">{{{label}}}</strong> {{/if}}
							{{#ifEquals type 'text'}}<span class="item-info-block_text">{{{../text}}}</span>{{/ifEquals}}
							{{#ifEquals type 'link'}}<a href="{{{../link}}}" {{#if ../newWindow}}target="_blank"{{/if}}  class="item-info-block_link {{#if ../newWindow}}link-external{{/if}}">{{{../text}}}
							</a>{{/ifEquals}}
						</div>
						{{/each}}
					</div>
					{{/if}}
				</div>
				<div class="col-sm-12 col-lg-4 offset-lg-1">
					{{#if data.item.content.quote}}
					<blockquote>
						{{{data.item.content.quote}}}
					</blockquote>
					{{/if}}
					{{#if data.item.content.quoteCredit}}
						{{data.item.content.quoteCredit}}
					{{/if}}
					{{#if data.item.press}}
					<div class="item-info-block hidden-lg-up">
						<h5>Press Links</h5>
						{{#each data.item.press}}
						<div class="item-info-block_item">
							{{#if showLabel}}<strong class="item-info-block_title">{{{label}}}</strong> {{/if}}
							{{#ifEquals type 'text'}}<span class="item-info-block_text">{{{../text}}}</span>{{/ifEquals}}
							{{#ifEquals type 'link'}}<a href="{{{../link}}}" {{#if ../newWindow}}target="_blank"{{/if}}  class="item-info-block_link {{#if ../newWindow}}link-external{{/if}}">{{{../text}}}
							</a>{{/ifEquals}}
						</div>
						{{/each}}
					</div>
					{{/if}}
					{{#if data.item.broadcastDetails}}
					<div class="item-info-block">
						<h5>Broadcast Details</h5>
						{{#each data.item.broadcastDetails}}
						<div class="item-info-block_item">
							{{#if logo.image.url}}
							<div class="item-info-block_logo">
								<img src="{{{cloudinaryUrl logo.image height=30 crop='limit' }}}" class="img-responsive">
							</div>
							{{/if}}
							{{#if label}}<strong class="item-info-block_title {{#if logo.image.url}}item-info-block-logo_title{{/if}}">{{{label}}}</strong> {{/if}}
							{{#ifEquals type 'text'}}<span class="item-info-block_text">{{{../text}}}</span>{{/ifEquals}}
							{{#ifEquals type 'link'}}<a href="{{{../link}}}" class="item-info-block_link {{#if ../newWindow}}link-external{{/if}}">{{{../text}}}
							</a>{{/ifEquals}}
						</div>
						{{/each}}
					</div>
					{{/if}}
					{{#if data.item.credits}}
					<div class="item-info-block">
						<h5>Credits</h5>
						{{#each data.item.credits}}
						<div class="item-info-block_item">
							{{#if showLabel}}<strong class="item-info-block_title">{{{label}}}</strong> {{/if}}
							{{#ifEquals type 'text'}}<span class="item-info-block_text">{{{../text}}}</span>{{/ifEquals}}
							{{#ifEquals type 'link'}}<a href="{{{../link}}}" class="item-info-block_link {{#if ../newWindow}}link-external{{/if}}">{{{../text}}}
							</a>{{/ifEquals}}
						</div>
						{{/each}}
					</div>
					{{/if}}
					{{#if data.item.producedBy}}
					<div class="item-info-block">
						<h5>Produced By</h5>
						{{#each data.item.producedBy}}
						<div class="item-info-block_item">
							{{#if showLabel}}<strong class="item-info-block_title">{{{label}}}</strong> {{/if}}
							{{#ifEquals type 'text'}}<span class="item-info-block_text">{{{../text}}}</span>{{/ifEquals}}
							{{#ifEquals type 'link'}}<a href="{{{../link}}}" class="item-info-block_link {{#if ../newWindow}}link-external{{/if}}">{{{../text}}}
							</a>{{/ifEquals}}
						</div>
						{{/each}}
					</div>
					{{/if}}
					{{#if data.item.inAssociationWith}}
					<div class="item-info-block">
						{{#each data.item.inAssociationWith}}
						<div class="item-info-block_item">
							{{#if logo.image.url}}
							<div class="item-info-block_logo_100">
								<img src="{{{cloudinaryUrl logo.image height=100 crop='limit' }}}" class="img-responsive">
							</div>
							{{/if}}
							{{#if showLabel}}<strong class="item-info-block_title">{{{label}}}</strong> {{/if}}
							{{#ifEquals type 'text'}}<span class="item-info-block_text">{{{../text}}}</span>{{/ifEquals}}
							{{#ifEquals type 'link'}}<a href="{{{../link}}}" class="item-info-block_link {{#if ../newWindow}}link-external{{/if}}">{{{../text}}}
							</a>{{/ifEquals}}
						</div>
						{{/each}}
					</div>
					{{/if}}

					{{#if data.item.awards}}
					<div class="item-info-block item-info-block-awards">
						<h5>Awards</h5>
						{{#each data.item.awards}}
						<div class="item-info-block_item {{#if award.image}}award-image{{/if}}">
							{{#if award.image}}
							<div class="info-block-image">
								{{#if links}}

									<a href="{{links.0.link}}" {{#if links.0.link}}target="_blank"{{/if}}>
										<img src="{{{award.image.url}}}"/>
									</a>
								{{else}}
									<img src="{{{award.image.url}}}"/>
								{{/if}}
							</div>
							{{/if}}
							<div class="info-block-copy">
								{{#if links}}
								<a href="{{links.0.link}}" {{#if links.0.link}}target="_blank"{{/if}}>
								{{/if}}
								<strong class="item-info-block_title">{{{award.name}}} {{year}}</strong>
								{{#if links}}</a>{{/if}}
								<span class="item-info-block_text">{{{description}}}</span>
							</div>
						</div>

						{{/each}}
					</div>
					{{/if}}

				</div>
			</div>
		</div>
	</article>
</div>
</div>
