<div class="container">
	<div class="row">
		<div class="col-sm-12 filters">
			<div class="work-filter type">
					<a href="/work" class="active" data-filter="all">All</a>
				{{# each data.categories }}
				<a href="{{categoryUrl key}}" class="{{key}}" data-filter="{{key}}">{{name}}</a>
				{{/each}}
			</div>
			<div class="work-filter date">
				<a href="/work" class="active" data-filter="all">All</a>
				{{# each data.years }}
				<a href="" class="{{this}}" data-filter="_{{this}}">{{this}}</a>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="no-results hidden-xs-up">
				<h2>No results found. Try adjusting the filters.</h2>
			</div>
			<div class="grid-row work" data-isotope='{ "itemSelector": ".list-item", "layoutMode": "fitRows" }'>
				{{# each data.work.results}}
				<div class="list-item all {{categoryClasses categories}} _{{broadCastYear}}">
					<a href="{{postUrl slug}}">
					{{#if thumbnail}}<img src="{{{cloudinaryUrl thumbnail width=350 height=196 crop='fit' }}}" class="img pull-right">{{/if}}
					<div class="list-item-overlay">
						<div class="list-item-title">
							<h2>{{{title}}}</h2>
							{{{content.brief}}}
							<!-- {{#if shortBroadcastDate}}<span class="broadcast-date">{{shortBroadcastDate}}</span>{{/if}} -->
						</div>
					</div>
					</a>
				</div>
				{{/each}}
			</div>
		</div>

	</div>
	{{>pagination}}
</div>
